@using EntityLayer.Concrete
@model List<Reservation> 
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlarım</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon</th>
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach(var item in Model)   //foreach ile modeli donuyoruz, item'e attik
     {
<tr>
    <td>@item.ReservationID</td>        <!-- gelen item'in rezervasyon id'sini getir -->
    <td>@item.Destination.Cİty</td>     <!-- gelen item'in  rotalarin ismine gore getir -->
    <td>@item.PersonCount</td>          <!-- gelen item'in rezervasyon kisi sayisini getir -->
    <td>@item.ReservationDate</td>      <!-- gelen item'in rezervasyon rezervasyon tarihini getir -->
    <td>@item.Status</td>               <!-- gelen item'in rezervasyonun durumunu getir -->
</tr>

     }
</table>